<h3>All Users</h3>

<div>
  <% @users.each do |user| %>
    <div>
      <%= link_to user.full_name, user_path(user) %>
      <% if current_user.can_friend?(user) %>
        <%= button_to "Add friend", user_friendships_path(user) %>
      <% end %>
    </div>
  <% end %>
</div>

<%= paginate @users %>
