<h3><%= "#{@homebrew.brewer_name}'s #{@homebrew.name}" %></h3>

<div>
  <%= "Brewed on: #{@homebrew.date_brewed}" %>
</div>

<div>
  <%= "Description: #{@homebrew.description}" %>
</div>

<div>
  <%= "Tags: #{@homebrew.tag_names}" %>
</div>
